<!--The content below is only a placeholder and can be replaced.-->
<p>App Work</p>
<router-outlet><app-spinner></app-spinner></router-outlet>
<div class="row">
        <div class="col-md-4">
                  <ul>
                                  <li *ngFor="let item of httpdata">
                                          Name: {{item.name}} 
                                          Address {{item.address.city}}
                                  </li>
                                </ul>
        </div>
        <div class="col-md-8">
                <ul>
                        <li>
                          <a routerLink="/home" routerLinkActive="active">
                                  Home
                          </a>
                        </li>
                        <li>
                          <a routerLink="/itemcom" routerLinkActive="active">
                                  Items
                          </a>
                        </li>
                        <li>
                          <a routerLink="/country" routerLinkActive="active">
                                  Country Items
                          </a>
                        </li>
                        <li>
                          <a routerLink="/customer" routerLinkActive="active">
                                  Customer
                          </a>
                        </li>
                        <li>
                          <a routerLink="/customer-list" routerLinkActive="active">
                                  Customer List
                          </a>
                        </li>
                </ul>
        </div>
</div>

<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
        <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
      </div>
      <button type="button" (click)="toggle()">Toggle Animation</button>


<button type="button" (click)="Success()">Success</button>
<button type="button" (click)="Info()">Info</button>
<button type="button" (click)="Warning()">Warning</button>
<button type="button" (click)="Error()">Error</button>

<div class="row" style="text-align: center">
   <div class="col-md-3">
        <label for="dateOfBirth">Date of Birth</label>
    <div class="form-group" style="position: relative;">
        <input type="date" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="dateOfBirth" class="form-control" style="line-height: 20px;">
        <button type="button" class="dpicker" (click)="dateOfBirth.opendate()">
        <i class="fa fa-calendar"></i>
        </button>
    </div>
   </div>
   <div class="col-md-3">
                <ng-multiselect-dropdown
                [placeholder]="'custom placeholder'"
                [data]="dropdownList"
                [(ngModel)]="selectedItems"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
              >
              </ng-multiselect-dropdown>
      </div>
      <div class="col-md-3">
            
      </div>
</div>
<div class="row">
        <div class="col-xs-12 col-12 col-md-4">
            <div class="form-group" style="position:relative;">
                    <input type="text"
                    placeholder="Datepicker"
                    class="form-control" #dp="bsDatepicker" bsDatepicker [bsValue]="bsValue" value="{{bsValue | date:'dd-MM-yyyy'}}" [(ngModel)]="datepickerModel" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  selectFromOtherMonth: true }">
                    <button type="button" class="dpicker" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">
                            <i class="fa fa-calendar"></i>
                    </button>
                   
            </div>
            <pre class="code-preview">{{datepickerModel}}</pre>
        </div>
      
      </div>
     
    


